# Node modules
node_modules/

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor & IDE files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Optional cache directories
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# TypeScript build info
*.tsbuildinfo

# Local certificates
*.pem
